---
- name: Provision Jenkins with plugins
  hosts: all
  gather_facts: no
  connection: local

  vars:
    jenkins_plugins:
      - name: pipeline-utility-steps
        version: 2.3.0

  tasks:

    - name: Install Jenkins plugins
      jenkins_plugin:
        name: "{{ item.name }}"
        version: "{{ item.version }}"
        url_username: "{{ jenkins.username }}"
        url_password: "{{ jenkins.password }}"
        url: "{{ jenkins.protocol }}://{{ jenkins.host }}:{{ jenkins.port }}"
        jenkins_home: "/usr/share/jenkins/"
        owner: "{{ jenkins.os.user }}"
        group: "{{ jenkins.os.group }}"
      with_items: "{{ jenkins_plugins }}"
