<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description>AEM OpenCloud Jenkins job provisioned with AEM OpenCloud Manager.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
  <hudson.model.ParametersDefinitionProperty>
    <parameterDefinitions>
      <hudson.model.BooleanParameterDefinition>
        <name>ENABLE_SLACK_NOTIFICATIONS</name>
        <description>If activated SLACK notifications will be send out.</description>
        <defaultValue>{{ aem_opencloud.enable_slack_notifications }}</defaultValue>
        <trim>true</trim>
      </hudson.model.BooleanParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>STACK_PREFIX</name>
        <description>AEM OpenCloud AEM stack prefix.</description>
        <defaultValue>AEMReconfigCon</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>STACK_MANAGER_STACK_PREFIX</name>
        <description>AEM OpenCloud Stack Manager stack prefix.</description>
        <defaultValue></defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AOC_CUSTOM_STACK_PROVISIONER_ARTIFACT_URL</name>
        <description>URL where custom stack provisioner artifact is located.</description>
        <defaultValue>{{ aem_opencloud.custom_stack_provisioner.artifact_url }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>JENKINS_AGENT_LABEL</name>
        <description>The label of Jenkins build pipeline agent, leave empty if no label needed.</description>
        <defaultValue>{{ jenkins.agent.label }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>JENKINS_AGENT_DOCKER_IMAGE</name>
        <description>The name of Docker image to be used as Jenkins build pipeline agent.</description>
        <defaultValue>{{ jenkins.agent.docker_image }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>JENKINS_AGENT_DOCKER_ARGS</name>
        <description>The CLI args for Jenkins to use when running Docker CLI.</description>
        <defaultValue>{{ jenkins.agent.docker_args }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AOC_CONFIG_PROFILE_AEM_AWS_STACK_BUILDER</name>
        <description>Name of the AEM AWS Stack Builder configuration profile.</description>
        <defaultValue>{{ item[0].item.path }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AOC_CONFIG_PROFILE_AEM_STACK_MANAGER_MESSENGER</name>
        <description>Name of the AEM Stack Manager Messenger configuration profile.</description>
        <defaultValue>{{ item[2].item.path }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AOC_CONFIG_ARTIFACT_URL</name>
        <description>URL to the AEM OpenCloud Configuration artifact.</description>
        <defaultValue>{{ aem_opencloud.config.artifact_url }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AOC_CUSTOM_MANAGER_STEPS_ARTIFACT_URL</name>
        <description>URL to the AEM OpenCloud Manager custom manager steps artifact.</description>
        <defaultValue>{{ aem_opencloud.custom_manager_steps.artifact_url }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AWS_LIBRARY_S3_BUCKET</name>
        <description>S3 bucket where the libraries are stored</description>
        <defaultValue>{{ aws.library.s3_bucket }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
      <hudson.model.StringParameterDefinition>
        <name>AWS_LIBRARY_S3_PATH</name>
        <description>S3 path (of the specified S3 bucket) where the libraries are stored</description>
        <defaultValue>{{ aws.library.s3_path }}</defaultValue>
        <trim>true</trim>
      </hudson.model.StringParameterDefinition>
    </parameterDefinitions>
  </hudson.model.ParametersDefinitionProperty>
</properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>{{ aem_opencloud.jenkins_sharedlibs.repo_url }}</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>{% if aem_opencloud.jenkins_sharedlibs.repo_branch != 'main' %}refs/tags/{% endif %}{{ aem_opencloud.jenkins_sharedlibs.repo_branch }}</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>provisioners/jenkins/jenkinsfiles/aem-opencloud/migration/aws/{{ item[1].item.path }}</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
